#---MAIN---
#Your discord bot token. Can not be left blank.

DISCORD_TOKEN=


#Bot Prefix. can be '/', '!', '?', and '.' Default is "!" if left blank

PREFIX=


#---SERVER---
#The ID of the channel used to display console logs.

CONSOLE_CHANNEL=

#IP of device hosting the mc server.

IP=

#port of the mc server. Default is 25565 if left blank

PORT=

#path to the server.jar
#Linux/Macos: /home/user/minecraft
#Windows: C:/users/name/etc/etc

#MC_SERVER_PATH=


#link to the mods on the server

MODS_LINK=

#This next command can be anything you personally use in your .bat script to start the server, this is an example.
#change SERVER.JAR to your jar name.

START_COMMAND=java -Xms4G -Xmx6G -jar server.jar nogui



#---SONARR---
SONAR_API_KEY=
SONARR_ROOT_PATH=


#---JELLYFIN---
JELLYFIN_API_KEY=
